body{
  padding : 10px;
  width: 420px;
  min-height: 100px;
}

.set-inline-block{
  display: inline-block;
}

.color-preview{
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
  border: solid 1px black;
}
